p {
    color: #212121;
  }

.hero {
    background-image: url('src/assets/truck.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 150px 0;
    text-align: center;
    background-blend-mode: overlay;
  }
  
  .hero-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .hero-description {
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
  }

  .about {
    padding: 100px 0;
    background-color: #f9f9f9;
  }

  .about-text {
    font-size: 20px;
  }
  
  .features {
    padding: 100px 0;
  }
  
  .feature-icon {
    color: #007bff;
  }
  
  .feature-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .feature-description {
    font-size: 20px;
  }
  
  .testimonials {
    background-color: #f9f9f9;
    padding: 100px 0;
  }
  
  .testimonial-image {
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .testimonial-text {
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .testimonial-author {
    font-weight: bold;
  }
  
  .contact {
    padding: 100px 0;
  }
  
  .section-title {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 70px;
    color: #0288D1;
  }
  
  .footer {
    background-color: #f9f9f9;
    padding: 30px 0;
  }


  .logo {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px 0;
  }

  .logo-wrapper {
    padding-left: 30px;
  }
  
  .logo-image {
    height: 100px;
  }

  .faq {
    background-color: #f9f9f9;
    padding: 100px 0;
  }
  
  .card-header {
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  .card-header:hover {
    background-color: #e9ecef;
  }
  
  .card-header::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f107';
    float: right;
    margin-top: 5px;
    font-weight: 900;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-header[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }
  
  .card-body {
    background-color: #f8f9fa;
  }
  
  .steps-section {
    padding: 70px 0;
  }
  
  .steps-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .steps-description {
    font-size: 20px;
  }

  .row {
    height: auto; /* or remove the height property altogether */
  }

  .Quote-btn-wrapper {
    padding-right: 30px;
  }

  .nav-phone {
    color: #212121;
    font-weight: bold;
    font-size: large;
  }

  .nav-link-text {
    color: #212121;
    font-size: large;
  }

  .reason-section {
    padding: 100px 0;
    background-color: #f9f9f9;
  }

  .reasons-tagline {
    font-size: 20px;
    margin-top: -40px;
  }

  .reason-text {
    font-size: 25px;
  }

  .reasons-description {
    padding: 30px 10px 0 0;
  }